{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <form action="/" method="post" class="needs-validation">
        <div class="form-group">
            <div class="form-row">
                <label for="searchTerms">Enter one search term</label>
                <textarea class="form-control" name="searchTerms" id="searchTerms" rows="3" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>

    <script>
        $(function () {
            $('#searchTerms').on('keypress', function (e) {
                if (e.which == 32) {
                    return false;
                }
                if (e.which == 13) {
                    $('form').submit();
                    return false;
                }
            });
        });

    </script>

{% endblock %}